body{
    background-color: #eeeeee;
}
.header-box{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: solid 1px #eeeeee;
    background-color: white;
    height: 45px;
    align-content: center;
}
p{
    color: #ec87ef;
    font-family: serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
    width: 25%;
    letter-spacing: 0.3em;   
}
.header-btn-box{
    display: flex;
    align-items: center;
}
button, input {
  box-sizing: border-box;
}
.header-setting-btn{
    border: solid 1px #eeeeee;
    background-color: #eeeeee;
    border-radius: 3px;
    margin: 5px 5px;
    padding: 3px;
}
a{
    color: black;
}
.header-logout-btn{
    border: solid 1px #eeeeee;
    background-color: #eeeeee;
    border-radius: 3px;
    margin: 5px 5px;
    padding: 3px;
}
.main-box{
    width: 70%;
    margin: 0 auto;
}
.title-data-box{
    border: solid 1px #eeeeee;
    background-color: white;
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}
.goal-weight{
    margin: 20px;
}
.rest-weight{
    margin: 20px;
}
.latest-weight{
    margin: 20px;
}
.title-data-ttl{
    font-size: 20px;
}
.title-data-record{
    font-size: 50px;
}
.record-data-box{
    border: solid 1px #eeeeee;
    background-color: white;
}
.record-data-header{
    display: flex;    
    justify-content: space-between;
}
.search-box{
    display: flex;
}
.search-btn{
    border: solid 1px #919191;
    background-color: #919191;
    color: white;
    border-radius: 3px;
    margin: 5px;
}
.openBtn{
    background: linear-gradient(90deg,#a3a7e2, #fdabd9);
    margin: 25px;
    border-radius: 3px;
    color: white;
    border: solid 1px white;
    padding: 7px 15px;
}
.modal{
    width: 60%;
    background-color: white;
    border-radius:  3px;
    border: solid 1px white;
    padding: 10px;
}
.modal-header{
    font-size: 40px;
    font-weight: bold;
}
.modal-main{}
.add-box{
    margin: 10px 0; 
}
.add-title-box{
    display: flex;
    margin: 5px 0;
}
.add-title{
    margin-right: 5px;
}
.add-required{
    background-color: red;
    color: white;
    border: solid 1px red;
    border-radius: 3px;
}
input,textarea{
    width: 95%;
}
.modal-footer{
    margin: 0 auto;
    width: 30%;
}
.footer-btn{
    display: flex;
}
.closeBtn{
    border: solid 1px #919191;
    background-color: #919191;
    color: white;
    border-radius: 3px;
    margin: 10px;
    padding: 10px 30px;
}
.register-btn{
    background: linear-gradient(90deg,#a3a7e2, #fdabd9);
    margin: 10px;
    border-radius: 3px;
    color: white;
    border: solid 1px white;
    padding: 10px 30px;
}

.record-data-main{
    width: 95%;
    margin: 10px;
}
tr{
    border-bottom: solid 1px #919191;
}
th{
    height: 10%;
}
td{
    text-align: center;
    height: 8%;
}
.pencil-btn{
    border: none;
    background-color: white;
}