body{
    background-color: #eeeeee;
}
.header-box{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: solid 1px #eeeeee;
    background-color: white;
    height: 45px;
    align-content: center;
}
p{
    color: #ec87ef;
    font-family: serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
    width: 25%;
    letter-spacing: 0.3em;   
}
.header-btn-box{
    display: flex;
    align-items: center;
}
button, input {
  box-sizing: border-box;
}
.header-setting-btn{
    border: solid 1px #eeeeee;
    background-color: #eeeeee;
    border-radius: 3px;
    margin: 5px 5px;
    padding: 3px;
}
.header-logout-btn{
    border: solid 1px #eeeeee;
    background-color: #eeeeee;
    border-radius: 3px;
    margin: 5px 5px;
    padding: 3px;
}
.main-box{
    width: 70%;
    margin: 0 auto;
}
.title-data-box{
    border: solid 1px #eeeeee;
    background-color: white;
    display: flex;
    margin: 20px 0;
}
.goal-weight{}
.rest-weight{}
.latest-weight{}
.title-data-ttl{
    font-size: 20px;
}
.title-data-record{
    font-size: 50px;
}
.record-data-box{
    border: solid 1px #eeeeee;
    background-color: white;
}
.record-data-header{
    display: flex;    
    justify-content: space-between;
}
.search-box{
    display: flex;
}
.search-btn{
    border: solid 1px #919191;
    background-color: #919191;
    color: white;
    border-radius: 3px;
    margin: 5px;
}
.add-btn{
    background: linear-gradient(90deg,#a3a7e2, #fdabd9);
    margin: 5px;
    border-radius: 3px;
    color: white;
}  
.record-data-main{}
tr{}
th{}
td{}