body{
    background:linear-gradient(#fedbd7, #d1d4f7);
    width: 1230px;
    height: 100%;
}
.login-box{
    width: 40%;
    margin: 80px auto;
    background-color: white;
    border-radius: 3px;
    border: solid 1px white;
    height: 50%;

}
.text-box{
    width: 45%;
    margin: 20px auto;
}
h1{
    color: #ec87ef;
    font-family: serif;
    font-weight: bold;
    text-align-last: justify;
    display:block;
    width: 100%;
    text-justify: inter-character;
    font-size: 40px;
}
h2{
    margin: 10px 0;
    text-align-last: justify;
    font-family: serif;
}
.data-box{
    width: 100%;
    margin: 10px;
}
.input-text{}
.input-box{
    width: 100%;
}
input{
    width: 95%;
}
.login-form{
    margin: 0 auto;
    width: 40%;
}
.login-btn{
    background: linear-gradient(90deg,#a3a7e2, #fdabd9);
    margin: 10px;
    border-radius: 3px;
    color: white;
    border: none;
    height: 50px;
    width: 180px;
}
a{
    display: block;
    width: 180px;
    margin: 10px auto;
    color: #7dc0ff;

}